---
import EpicLogo from "./EpicLogo.astro";

const { buy } = Astro.props;

const url = buy;
if (!buy || buy === "") {
  return null;
}
---

<a
  href={buy}
  title="Visitar en Epic Games"
  target="_blank"
  rel="noopener noreferrer"
  class="text-balance inline-flex gap-2 items-center bg-zinc-800
                    hover:bg-zinc-900 active:bg-zinc-1000 text-white font-bold py-3
                    rounded-lg border border-zinc-900 transition duration-200 ease-in-out
                    hover:scale-105 justify-center text-center cursor-pointer w-full h-full min-h-[48px]"
>
  <EpicLogo />
</a>
