---
import GamepadLogo from "./gamepadLogo.astro";

const { buy } = Astro.props;

const url = buy;
if (!buy || buy === "") {
  return null;
}
---

<a
  href={buy}
  title="Visitar en su página oficial"
  target="_blank"
  rel="noopener noreferrer"
  class="text-balance inline-flex gap-2 items-center bg-fuchsia-950
                    hover:bg-fuchsia-800 active:bg-fuchsia-700 text-white font-bold py-3
                    rounded-lg border border-fuchsia-900 transition duration-200 ease-in-out
                    hover:scale-105 justify-center text-center cursor-pointer w-full h-full min-h-[48px]"
>
  <GamepadLogo />
</a>
