---
import SteamLogo from "./SteamLogo.astro";

const { buy } = Astro.props;

const url = buy;

if (!buy || buy === "") {
  return null;
}
---

<a
  href={buy}
  title="Visitar en Steam"
  target="_blank"
  rel="noopener noreferrer"
  class="text-balance inline-flex gap-2 items-center bg-gray-800
                    hover:bg-gray-900 active:bg-gray-1000 text-white font-bold py-3
                    rounded-lg border border-gray-900 transition duration-200 ease-in-out
                    hover:scale-105 justify-center text-center cursor-pointer w-full h-full min-h-[48px]"
>
  <SteamLogo />
</a>
